/* fonts */

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  /* src: url("../fonts/ptsans-400.ttf") format("ttf"); */
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

/* global  */

html {
  height: 100%;
}

body {
  min-height: 100%;
  margin: 0 auto;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
  background-color: #f2f2f2;
}

/* visually-hidden */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* container */

.container {
  display: flex;
  flex-direction: column;
  width: 1200px;
  min-height: 100%;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

/* list */

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* header */

.navigation {
  display: flex;
}

.navigation-list,
.navigation-user {
  display: flex;
  flex-wrap: wrap;
}

.navigation-list {
  width: 419px;
  padding-left: 59px;
  padding-right: 56px;
}

.navigation-item {
  position: relative;
  margin-right: 9px;
}

.navigation-link {
  display: block;
  margin-top: 13px;
  margin-bottom: 14px;
  padding: 0 9px;
  font-size: 20px;
  line-height: 32px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
  border: 3px solid transparent;
  border-radius: 10px;
}

.navigation-link:hover {
  color: #756257;
}

.navigation-link:focus {
  color: #756257;
  border: 3px solid #83b3d3;
  outline: none;
}

.navigation-link:active {
  color: #756257;
  opacity: 0.3;
  border: 3px solid transparent;
}

.navigation-link-active::after {
  content: "";
  position: absolute;
  z-index: 1;
  left: 12px;
  right: 10px;
  bottom: -1px;
  height: 2px;
  background-color: #756257;
}

.page-header-logo {
  z-index: 1;
  margin-bottom: -5px;
}

.page-header-logo:focus {
  outline: 3px solid #83b3d3;
  border-radius: 5px;
}

.navigation-logo {
  display: block;
}

.navigation-user {
  justify-content: flex-end;
  align-items: center;
  width: 387px;
  padding: 0 72px;
}

.navigation-user-item:nth-child(2) {
  margin-left: 1px;
}

.navigation-user-item-favorites {
  position: relative;
}

.navigation-user-link {
  text-decoration: none;
}

.navigation-user-search,
.navigation-user-favorites {
  position: relative;
  display: block;
  width: 32px;
  border: 3px solid transparent;
  border-radius: 10px;
}

.navigation-user-search {
  height: 32px;
}

.navigation-user-favorites {
  height: 31px;
}

.navigation-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #000;
}

.navigation-user-search:hover .navigation-icon,
.navigation-user-favorites:hover .navigation-icon {
  fill: #756257;
}

.navigation-user-search:focus,
.navigation-user-favorites:focus {
  border: 3px solid #83b3d3;
  outline: none;
}

.navigation-user-search:active,
.navigation-user-favorites:active {
  border: 3px solid transparent;
}

.navigation-user-search:focus .navigation-icon,
.navigation-user-favorites:focus .navigation-icon {
  fill: #756257;
}

.navigation-user-search:active .navigation-icon,
.navigation-user-favorites:active .navigation-icon {
  fill: rgba(117, 98, 87, 0.3);
}

.favorites-quantity {
  position: absolute;
  top: -2px;
  right: -5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 19px;
  height: 19px;
  font-size: 10px;
  line-height: 13px;
  letter-spacing: -0.1em;
  color: #ffffff;
  background-color: #7db54f;
  border-radius: 50%;
}

.navigation-user-favorites:active .favorites-quantity {
  color: rgba(225, 225, 225, 0.3);
}

.btn-header {
  display: block;
  min-width: 160px;
  margin-left: 24px;
  font-size: 16px;
  line-height: 37px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #756257;
  border-radius: 4px;
}

.btn-header:hover {
  background-color: #615048;
}

.btn-header:focus {
  background-color: #615048;
  outline: 3px solid #83b3d3;
}

.btn-header:focus-visible {
  outline-offset: 0;
}

.btn-header:active {
  color: rgba(225, 225, 225, 0.3);
}

/* main */

.main-index {
  flex-shrink: 1;
}

.welcome {
  position: relative;
  padding-top: 51px;
  padding-bottom: 82px;

  background-image: url("../img/background-welcome.jpg");
  background-color: #808080;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.welcome::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 1200px;
  height: 57px;
  background-image: url("../img/divider.svg");
  background-repeat: no-repeat;
}

.welcome-picture {
  display: block;
  margin: 0 auto;
}

/* advantages */

.advantages-header {
  width: 720px;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 79px;
}

.advantages-title {
  width: 720px;
  margin: 0 auto 35px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
}

.advantages-intro {
  width: 720px;
  margin: 0 auto;
  line-height: 36px;
  text-align: center;
}

.advantages-list {
  display: grid;
  grid-template-columns: repeat(3, 400px);
}

.advantages-lifestyle {
  display: grid;
  grid-column: 1/-1;
  grid-template-columns: repeat(3, 400px);
}

.advantages-bridge {
  display: grid;
  grid-column: 1/-1;
  grid-template-columns: repeat(3, 400px);
}

.advantages-closeness,
.advantages-uncrowded {
  background-color: #f0f6fa;
}

.advantages-way {
  background-color: #e6f0f6;
}

.advantages-card,
.details-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 384px;
  box-sizing: border-box;
}

.advantages-card {
  padding: 98px 0 30px;
}

.advantages-lifestyle .advantages-card {
  grid-column: 1/2;
}

.advantages-bridge .advantages-card {
  grid-column: 3/4;
}

.advantages-lifestyle .advantages-card,
.advantages-bridge .advantages-card {
  background-color: #83b3d3;
  color: #ffffff;
}

.advantages-item-title,
.details-title {
  width: 175px;
  margin: 0;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.advantages-item-title {
  margin-top: 0;
  margin-bottom: 29px;
  text-align: center;
}

.advantages-number,
.advantages-description,
.details-text {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.advantages-number {
  display: block;
  margin-bottom: 31px;
}

.advantages-description {
  width: 250px;
  margin: 0;
}

.advantages-lifestyle .advantages-description,
.advantages-bridge .advantages-description {
  width: 220px;
}

.advantages-closeness .advantages-description {
  margin-left: 15px;
  text-indent: -15px;
}

.advantages-lifestyle .advantages-picure {
  grid-column: 2/4;
}

.advantages-bridge .advantages-picure {
  grid-column: 1/3;
}

.details-list {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: repeat(3, 400px);
}

.details-item {
  position: relative;
  padding: 184px 0 30px;
  background-color: #f0f6fa;
}

.details-item:nth-child(2) {
  background-color: transparent;
}

.details-item::before {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
}

.details-item:first-child::before {
  top: 89px;
  left: 163;
  width: 75px;
  height: 72px;
  background-image: url("../img/details-house.svg");
}

.details-item:nth-child(2)::before {
  top: 91px;
  left: 163;
  width: 74px;
  height: 70px;
  background-image: url("../img/details-burger.svg");
}

.details-item:nth-child(3)::before {
  top: 85px;
  left: 168;
  width: 64px;
  height: 76px;
  background-image: url("../img/details-souvenir.svg");
}

.details-title {
  margin-bottom: 20px;
  color: #000000;
}

.details-text {
  width: 230px;
  margin: 0;
}

/* search */

.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 91px;
  padding-bottom: 91px;
}

.search-title {
  width: 720px;
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
}

.search-description {
  width: 720px;
  margin: 0 0 58px -15px;
  text-indent: 15px;
  text-align: center;
}

.search-link {
  display: block;
  min-width: 575px;
  font-size: 20px;
  line-height: 60px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  background-color: #756257;
  border-radius: 10px;
}

.search-link:hover {
  background-color: #615048;
}

.search-link:focus {
  background-color: #615048;
  outline: 3px solid #83b3d3;
  outline-offset: -3px;
}

.search-link:active {
  color: rgba(225, 225, 225, 0.3);
  outline: none;
}

/* footer */

/* subscription */

.subscription {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 94px 0;

  background-image: url("../img/background-blur1.jpg");
  background-color: #102c09;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.subscription-title {
  width: 498px;
  margin: 0 auto 30px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
}

.subscription-description {
  width: 498px;
  margin: 0 auto 46px;
  text-align: center;
  color: #ffffff;
}

.subscription-form {
  display: flex;
  width: 800px;
}

.subscription-field-wrap {
  flex-grow: 1;
  margin: 0;
}

.subscription-field {
  width: 100%;
  padding: 0 22px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 60px;
  color: #000000;
  border: none;
  border-radius: 10px 0 0 10px;
  background-color: #f2f2f2;
  box-sizing: border-box;
}

.subscription-field:hover {
  background-color: #e6e6e6;
}

.subscription-field:focus {
  background-color: #e6e6e6;
  outline: 3px solid #83b3d3;
}

.subscription-field:focus:invalid {
  background-color: #ffffff;
  outline: 2px solid #ff5757;
  outline-offset: -2px;
}

.subscription-field:active,
.subscription-field:not(:placeholder-shown) {
  background-color: #ffffff;
  outline: 2px solid #000000;
  outline-offset: -2px;
}

.subscription-field::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.subscription-button {
  width: 200px;
  padding: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 60px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
  border-radius: 0 10px 10px 0;
  background-color: #83b3d3;
  cursor: pointer;
}

.subscription-button:hover {
  background-color: #68a2ca;
}

.subscription-button:focus {
  background-color: #68a2ca;
  outline: 3px solid #756257;
}

.subscription-button:active {
  color: rgba(225, 225, 225, 0.3);
  outline: none;
}

/* contacts */

.contacts {
  display: flex;
  padding: 0 49px 0 61px;
}

.social {
  display: flex;
  width: 239px;
  margin-top: 38px;
  margin-right: 119px;
  margin-bottom: 42px;
}

.social-item {
  margin-right: 3px;
}

.social-item:nth-child(2) {
  margin-right: 5px;
}

.social-link {
  position: relative;
  display: block;
  width: 34px;
  height: 34px;
  border: 3px solid transparent;
  border-radius: 10px;
}

.social-link:focus {
  border: 3px solid #83b3d3;
  outline: none;
}

.social-link:active {
  border: 3px solid transparent;
}

.social-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #83b3d3;
}

.social-link:hover .social-icon {
  fill: #68a2ca;
}

.social-link:focus .social-icon {
  fill: #68a2ca;
}

.social-link:active .social-icon {
  fill: #68a2ca;
  opacity: 0.3;
}

.footer-tel {
  display: block;
  margin-top: 23px;
  margin-right: auto;
  margin-bottom: 25px;
  padding: 12px;
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
  border: 3px solid transparent;
  border-radius: 10px;
}

.footer-tel:hover {
  color: #756257;
}

.footer-tel:focus {
  color: #756257;
  border: 3px solid #83b3d3;
  outline: none;
}

.footer-tel:active {
  color: #756257;
  border: 3px solid transparent;
  opacity: 0.3;
}

.page-footer-logo {
  position: relative;
  display: block;
  min-width: 154px;
  min-height: 64px;
  margin: 25px 0;
  border: 3px solid transparent;
  border-radius: 10px;
}

.page-footer-logo:focus {
  border: 3px solid #83b3d3;
  outline: none;
}

.page-footer-logo:active {
  border: 3px solid transparent;
  outline: none;
}

.footer-icon-logo {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #000;
}

.page-footer-logo:hover .footer-icon-logo {
  fill: #756257;
}

.page-footer-logo:focus .footer-icon-logo {
  fill: #756257;
}

.page-footer-logo:active .footer-icon-logo {
  fill: #756257;
  opacity: 0.3;
}

/* hotels.html */

.main-header {
  display: flex;
  flex-direction: column;
  padding: 32px 71px 70px;
  color: #ffffff;
  background-image: url("../img/background-blur2.jpg");
  background-color: #102c09;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.main-header-title {
  margin-top: 0;
  margin-bottom: -5px;
  font-size: 60px;
  line-height: 78px;
}

/* breadcrumbs */

.breadcrumbs {
  display: flex;
  margin-bottom: 42px;
  margin-left: -6px;
}

.breadcrumbs-item {
  margin-right: 10px;
}

.breadcrumbs-item-more {
  position: relative;
}

.breadcrumbs-item-more::before {
  content: "";
  position: absolute;
  left: -7px;
  top: 10px;
  width: 5px;
  height: 8px;
  opacity: 0.3;
  background-image: url("../img/icons/arrow.svg");
  background-repeat: no-repeat;
}

.breadcrumbs-link {
  display: block;
  border: 3px solid transparent;
  border-radius: 4px;
}

.breadcrumbs-link:hover {
  opacity: 0.6;
}

.breadcrumbs-link:focus {
  border: 3px solid #83b3d3;
  opacity: 1;
  outline: none;
}

.breadcrumbs-link:active {
  border: 3px solid transparent;
  opacity: 0.3;
}

.breadcrumbs-link-home {
  width: 22px;
  height: 21px;

  background-image: url("../img/icons/home.svg");
  background-repeat: no-repeat;
  background-size: 12px 12px;
  background-position: 5px 4px;
}

.breadcrumbs-link-more {
  padding: 0 5px;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  text-decoration: none;
}

/* filter-hotels */

.filter-form {
  display: flex;
}

.filter-item {
  margin: 0 0 2px;
  padding: 0;
  border: none;
}

.filter-legend {
  font-size: 20px;
  line-height: 26px;
}

/* facilities, housing-type */

.facilities {
  display: flex;
  flex-direction: column;
  width: 200px;
  margin-right: 17px;
}

.housing-type {
  display: flex;
  flex-direction: column;
  width: 250px;
  margin-right: 62px;
}

.filter-legend {
  padding: 0;
  font-weight: 700;
}

.facilities .filter-legend,
.housing-type .filter-legend {
  margin-bottom: 30px;
}

.facilities-label,
.housing-type-label {
  position: relative;
  font-size: 18px;
  line-height: 23px;
  margin-bottom: 13px;
  padding-left: 40px;
}

.facilities-label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 1px;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 4px;
}

input:checked + .facilities-label::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 12px;
  height: 10px;
  background-image: url("../img/icons/check-mark.svg");
  background-repeat: no-repeat;
}

.facilities-label:hover:before {
  background-color: rgba(255, 255, 255, 0.6);
}

input:focus + .facilities-label::before {
  outline: 3px solid #83b3d3;
}

input:active + .facilities-label::before {
  outline: none;
  background-color: rgba(255, 255, 255, 0.3);
}

.housing-type-label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 1px;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 50%;
}

input:checked + .housing-type-label::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 6px;
  width: 10px;
  height: 10px;
  background-color: #3f5e72;
  border-radius: 50%;
}

input:focus + .housing-type-label::before {
  outline: 3px solid #83b3d3;
}

input:active + .housing-type-label::before {
  outline: none;
}

/* price */

.price {
  margin-right: auto;
}

.price .filter-legend {
  margin-bottom: 34px;
}

.price-container {
  display: flex;
  width: 283px;
  margin-bottom: 28px;
}

.price-block {
  position: relative;
}

.price-field {
  position: relative;
  padding: 12px 40px 9px 17px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
  background-color: transparent;
  border: 2px solid #ffffff;
  box-sizing: border-box;
  appearance: textfield;
}

.price-field::-webkit-inner-spin-button,
.price-field::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.price-field-min {
  width: 145px;
  border-radius: 4px 0 0 4px;
}

.price-field-max {
  width: 144px;
  margin-left: -2px;
  padding-left: 15px;
  border-radius: 0 4px 4px 0;
}

.price-field:hover {
  border-color: rgba(225, 225, 225, 0.6);
}

.price-field:focus {
  margin: 5px;
  padding: 7px 35px 4px 12px;
  border-color: transparent;
  box-shadow: 0px 0px 0px 3px #81b3d2, 0px 0px 0px 5px #ffffff,
    0px 0px 0px 8px #81b3d2;
  outline: none;
}

.price-field-min:focus {
  z-index: 1;
  width: 135px;
}

.price-field-max:focus {
  width: 134px;
  margin-left: 3px;
  padding-left: 10px;
}

.price-field:active {
  margin: 0;
  padding: 12px 40px 9px 17px;
  background-color: #756257;
  border: 2px solid #ffffff;
  box-shadow: none;
}

.price-field-min:active {
  width: 145px;
  border-radius: 4px 0 0 4px;
}

.price-field-max:active {
  width: 144px;
  margin-left: -2px;
  padding-left: 15px;
  border-radius: 0 4px 4px 0;
}

.price-text {
  position: absolute;
  top: 12px;
  right: 16px;
  font-size: 18px;
  line-height: 23px;
  opacity: 0.3;
}

.price-field:focus + .price-text {
  z-index: 1;
}

.price-range {
  position: relative;
  margin-bottom: 10px;
}

.price-scale {
  position: relative;
  width: 287px;
  height: 4px;
  background-color: rgba(225, 225, 225, 0.3);
}

.price-bar {
  height: 4px;
  background-color: #ffffff;
}

.price-range-toggle {
  position: absolute;
  top: -8px;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.toggle-max {
  margin-left: -10px;
}

.price-range-toggle:focus {
  outline: 3px solid #83b3d3;
}

.price-range-toggle:active {
  outline: 2px solid #83b3d3;
}

/* form-buttons */

.form-buttons {
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  width: 160px;
}

.form-button {
  font-family: "PT Sans", sans-serif;
  color: #ffffff;
  border: none;
}

.form-button-submit {
  height: 48px;
  margin-bottom: 16px;
  padding: 0;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #83b3d3;
  border-radius: 4px;
  cursor: pointer;
}

.form-button-submit:hover {
  background-color: #68a2ca;
}

.form-button-submit:focus {
  outline: 3px solid #ffffff;
}

.form-button-submit:active {
  color: rgba(255, 255, 255, 0.3);
  outline: none;
}

.form-button-reset {
  align-self: center;
  padding: 1px 10px 2px;
  font-size: 18px;
  line-height: 23px;
  border: 3px solid transparent;
  border-radius: 4px;
  background-color: transparent;
}

.form-button-reset:hover {
  color: rgba(255, 255, 255, 0.6);
}

.form-button-reset:focus {
  color: rgba(255, 255, 255, 1);
  border: 3px solid #83b3d3;
  outline: none;
}
.form-button-reset:active {
  color: rgba(255, 255, 255, 0.3);
  border: 3px solid transparent;
}

/* hotels */

.hotels {
  width: 1056px;
  margin: 0 auto;
}

.hotels-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 44px;
  padding-bottom: 42px;
  border-bottom: 1px solid #e6e6e6;
}

.hotels-search-results {
  width: 447px;
  margin-top: 6px;
  margin-bottom: 0;
  font-size: 30px;
  line-height: 39px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.hotels-sorting-wrap {
  position: relative;
  width: 287px;
  margin: 0;
}

.hotels-sorting {
  position: relative;
  z-index: 1;
  width: 100%;
  padding: 10px 40px 11px 17px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 23px;
  background-color: transparent;
  border: 2px solid #e6e6e6;
  border-radius: 4px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}

.hotels-sorting:hover {
  border: 2px solid #83b3d3;
}

.hotels-sorting:focus {
  border: 2px solid #83b3d3;
  outline: none;
}

.hotels-sorting:active {
  color: rgba(51, 51, 51, 0.3);
  border: 2px solid #e6e6e6;
  outline: none;
}

.dropdown-icon {
  position: absolute;
  width: 12px;
  height: 7px;
  top: 22px;
  right: 21px;
  fill: #000000;
  opacity: 0.3;
}

.hotels-sorting:active + .dropdown-icon {
  opacity: 1;
  fill: #e6e6e6;
}

.view {
  display: flex;
  justify-content: space-between;
  width: 160px;
}

.view-label {
  width: 44px;
  height: 44px;
  border: 2px solid #e6e6e6;
  border-radius: 4px;
  cursor: pointer;
}

.view-label:hover {
  border: 2px solid #83b3d3;
}

input:checked + .view-label {
  border-color: #000000;
}

input:focus + .view-label {
  border: 2px solid #83b3d3;
  outline: none;
}

.view-label:active {
  border: 2px solid #000000;
  outline: none;
}

.view-label-tile {
  background-image: url("../img/icons/view-tile.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.view-label-slide {
  background-image: url("../img/icons/view-slide.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.view-label-row {
  background-image: url("../img/icons/view-row.svg");
  background-repeat: no-repeat;
  background-position: center;
}

/* hotels-list */

.hotels-item {
  display: flex;
  padding: 28px 0 30px;
  border-bottom: 1px solid #e6e6e6;
}

.hotels-photo-wrap {
  margin-top: 2px;
  margin-right: 37px;
}

.hotels-photo-wrap:hover {
  opacity: 0.6;
}

.hotels-photo-wrap:focus {
  outline: 3px solid #83b3d3;
  outline-offset: -3px;
  opacity: 1;
}

.hotels-photo-wrap:active {
  outline: none;
  opacity: 0.3;
}

.hotels-photo {
  vertical-align: middle;
}

.hotels-description {
  width: 318px;
}

.hotels-title-wrap {
  display: inline-block;
  margin-left: -10px;
  margin-top: -5px;
  margin-bottom: -4px;
  color: #000000;
  text-decoration: none;
  border: 3px solid transparent;
  border-radius: 10px;
}

.hotels-title-wrap:hover {
  color: #756257;
}

.hotels-title-wrap:focus {
  color: #756257;
  border: 3px solid #83b3d3;
  outline: none;
}

.hotels-title-wrap:active {
  color: #756257;
  border: 3px solid transparent;
  opacity: 0.3;
  outline: none;
}

.hotels-title {
  margin: 0;
  padding: 2px 8px 2px 7px;
  font-size: 24px;
  line-height: 31px;
}

.hotels-details {
  display: flex;
  margin-bottom: 31px;
  font-size: 18px;
  line-height: 23px;
}

.hotels-type {
  width: 138px;
  padding-right: 20px;
}

.hotels-price {
  width: 140px;
  padding-right: 20px;
}

.hotels-buttons {
  display: flex;
}

.hotels-button {
  font-size: 16px;
  line-height: 37px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  border-radius: 4px;
}

.hotels-more {
  width: 151px;
  margin-right: 8px;
  text-align: center;
  text-decoration: none;
  background-color: #756257;
}

.hotels-more:hover {
  background-color: #615048;
}

.hotels-more:focus {
  background-color: #615048;
  outline: 3px solid #83b3d3;
}

.hotels-more:focus-visible {
  outline-offset: 0;
}

.hotels-more:active {
  color: rgba(225, 225, 225, 0.3);
  outline: none;
}

.hotels-favorites-add {
  width: 160px;
  padding: 0;
  font-family: "PT Sans", sans-serif;
  border: none;
  background-color: #83b3d3;
  cursor: pointer;
}

.hotels-favorites-add:hover {
  background-color: #68a2ca;
  outline: 1px solid #756257;
  outline-offset: -1px;
}

.hotels-favorites-add:focus {
  background-color: #68a2ca;
  outline: 3px solid #756257;
  outline-offset: 0;
}

.hotels-favorites-add:active {
  color: rgba(225, 225, 225, 0.3);
  background-color: #68a2ca;
  outline: 1px solid #756257;
  outline-offset: -1px;
}

.hotels-favorites-added {
  background-color: #7db54f;
}

.hotels-favorites-added:hover {
  background-color: #6c9e42;
  outline: 1px solid #756257;
  outline-offset: -1px;
}

.hotels-favorites-added:focus {
  background-color: #6c9e42;
  outline: 3px solid #756257;
  outline-offset: 0;
}

.hotels-favorites-added:active {
  color: rgba(225, 225, 225, 0.3);
  background-color: #6c9e42;
  outline: 1px solid #756257;
  outline-offset: -1px;
}

.hotels-rating {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 160px;
  margin-left: auto;
}

.hotels-stars {
  display: flex;
  justify-content: center;
  margin-top: 6px;
  margin-bottom: auto;
}

.hotels-star + .hotels-star {
  margin-left: 6.5px;
}

.hotels-rating-score {
  align-self: stretch;
  font-size: 16px;
  line-height: 37px;
  text-transform: uppercase;
  text-align: center;
  background-color: #f2f2f2;
  border-radius: 4px;
}

.hotels-show-more-wrapper {
  padding: 31px 0 30px;
  border-bottom: 1px solid #e6e6e6;
}

.hotels-show-more {
  display: block;
  width: 625px;
  margin: 0 auto;
  padding: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 55px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #83b3d3;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.hotels-show-more:hover {
  background-color: #68a2ca;
}

.hotels-show-more:focus {
  background-color: #68a2ca;
  outline: 3px solid #756257;
}

.hotels-show-more:active {
  color: rgba(225, 225, 225, 0.3);
  outline: none;
}

.pagination {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: 30px;
}

.pagination-list {
  display: flex;
}

.pagination-item {
  margin-right: 7.5px;
}

.pagination-link {
  display: block;
  width: 55px;
  height: 55px;
  font-size: 20px;
  line-height: 55px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  background-color: #83b3d3;
  border-radius: 4px;
}

.pagination-link:hover {
  background-color: #68a2ca;
}

.pagination-link:focus {
  background-color: #68a2ca;
  outline: 3px solid #756257;
}

.pagination-link:focus-visible {
  outline-offset: 0;
}

.pagination-link:active {
  color: rgba(225, 225, 225, 0.3);
  outline: none;
}

.pagination-current {
  color: #000000;
  background-color: #f2f2f2;
}

.quantity {
  display: flex;
  justify-content: space-between;
  width: 386px;
}

.quantity-filter-wrap {
  position: relative;
  width: 160px;
  margin: 3px 0 0;
}

.quantity-label {
  margin-top: 16px;
  padding-right: 20px;
  font-size: 18px;
  line-height: 23px;
}

.quantity-filter {
  position: relative;
  z-index: 1;
  width: 100%;
  padding: 11px 40px 10px 15px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 23px;
  background-color: transparent;
  border: 2px solid #e6e6e6;
  border-radius: 4px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}

.quantity-filter:hover {
  border: 2px solid #83b3d3;
}

.quantity-filter:focus {
  border: 2px solid #83b3d3;
  outline: none;
}

.quantity-filter:active {
  color: rgba(51, 51, 51, 0.3);
  border: 2px solid #e6e6e6;
  outline: none;
}

.quantity-filter:active + .dropdown-icon {
  opacity: 1;
  fill: #e6e6e6;
}

/* subscription */

.body-hotels .subscription {
  padding-top: 89px;
  padding-bottom: 136px;
  background-image: none;
  background-color: transparent;
}

.body-hotels .subscription-title {
  color: #000000;
}

.body-hotels .subscription-description {
  color: #333333;
}

/* modal */

.modal-container {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
}

.modal-container-close {
  display: none;
}

.modal {
  position: relative;
  margin: auto;
  background-color: #ffffff;
  border-radius: 30px;
  box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.15);
}

.modal-search {
  width: 575px;
  padding: 62px 70px 70px;
}

.modal-close-button {
  position: absolute;
  top: 54px;
  right: 70px;
  width: 53px;
  height: 53px;
  padding: 0;
  border: none;
  border-radius: 50%;
  background-color: #f2f2f2;
  cursor: pointer;
}

.modal-close-button:hover {
  background-color: #e6e6e6;
}

.modal-close-button:focus {
  background-color: #e6e6e6;
  outline: 3px solid #83b3d3;
}

.modal-close-button:active {
  background-color: #e6e6e6;
  outline: none;
}

.modal-close-button:active .modal-close-icon {
  opacity: 0.3;
}

.modal-close-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-title {
  margin: 0 0 59px;
  font-size: 30px;
  line-height: 40px;
  font-weight: 700;
  text-transform: uppercase;
}

.search-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.search-group-date {
  position: relative;
}

.search-group-date::after {
  content: "";
  position: absolute;
  top: 18px;
  right: 19px;
  width: 15px;
  height: 15px;
  background-image: url("../img/icons/calendar.svg");
  background-repeat: no-repeat;
}

.form-search-label,
.modal-field,
.quantity-display {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 50px;
  font-weight: 700;
  color: #000000;
}

.form-search-label {
  width: 110px;
  padding-right: 45px;
}

.kids-label {
  position: relative;
  width: 52px;
  margin: 0;
}

.modal-field:hover {
  background-color: #e6e6e6;
}

.modal-field:focus {
  background-color: #e6e6e6;
  outline: 3px solid #83b3d3;
}

.modal-field:active,
.modal-field:not(:placeholder-shown) {
  background-color: #ffffff;
  outline: 2px solid #000000;
  outline-offset: -2px;
}

.modal-field::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

/* Класс с ошибкой в инпуте модалки */
.modal-field-error:focus {
  background-color: #f2f2f2;
  outline: none;
}

.info {
  position: absolute;
  top: 14px;
  right: 18px;
  width: 25px;
  height: 25px;
  padding: 0;
  border: none;
  border-radius: 50%;
  background-image: url("../img/icons/info.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #83b3d3;
  cursor: pointer;
}

.info-block {
  position: absolute;
  top: 37px;
  left: -125px;
  display: none;
  width: 256px;
  margin: 0;
  padding: 15px 18px 18px 22px;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-align: start;
  color: #ffffff;
  background-color: #333333;
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  box-sizing: border-box;
}

.info-block::before {
  content: "";
  position: absolute;
  top: -8px;
  left: 50%;
  width: 18px;
  height: 18px;
  background-color: #333333;
  transform: translate(50%, 0);
  transform: rotate(45deg);
}

.info:hover .info-block {
  display: block;
}

.modal-field {
  flex-grow: 1;
  padding: 0 40px 0 19px;
  background-color: #f2f2f2;
  border: none;
  border-radius: 4px;
}

.search-group-wrap {
  display: flex;
}

.search-group-adults {
  width: 288px;
  margin-right: 56px;
}

.search-group-kids {
  width: 230px;
}

.quantity-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 107px;
  padding: 0 13px;
  margin: 0;
  background-color: #f2f2f2;
  border-radius: 4px;
}

/* Почему у них ширина меньше? */
.quantity-button {
  position: relative;
  width: 19px;
  height: 19px;
  padding: 0;
  border: 3px solid transparent;
  border-radius: 4px;
  cursor: pointer;
}

.quantity-button::before,
.quantity-button-more::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 13px;
  height: 1px;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.3);
}

.quantity-button-more::after {
  transform: rotate(90deg);
  margin-left: -6.5px;
}

/* не срабатывают состояния */
.quantity-button:hover .quantity-button::before,
.quantity-button:hover .quantity-button-more::after {
  background-color: rgba(0, 0, 0, 1);
}

.quantity-button:focus {
  border: 3px solid #83b3d3;
}

.quantity-button:focus .quantity-button::before,
.quantity-button:focus .quantity-button-more::after {
  background-color: rgba(0, 0, 0, 1);
}

.quantity-button:active .quantity-button::before,
.quantity-button:active .quantity-button-more::after {
  background-color: rgba(0, 0, 0, 0.2);
}

.modal-submit {
  width: 100%;
  padding: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 60px;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  background-color: #83b3d3;
}

.modal-submit:hover {
  background-color: #68a2ca;
}

.modal-submit:focus {
  background-color: #68a2ca;
  outline: 3px solid #756257;
}

.modal-submit:active {
  color: rgba(225, 225, 225, 0.3);
  outline: none;
}

/* Popover */

.popover {
  position: absolute;
  z-index: 100;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
}

/* Почему не отображается стрелка? */
/* как спозиционировать псевдоэлемент и сам поповер? */
/* сам li (кнопка с сердечком) 32px */
.popover::before {
  content: "";
  position: absolute;
  top: -9px;
  left: 50%;
  width: 20px;
  height: 9px;
  margin-left: -13px;
  background-image: url("../img/icons/popover-arrow.svg");
  background-repeat: no-repeat;
  border-bottom: 2px solid red;
}

.popover-favorites {
  top: 48px;
  left: -178px;
  width: 400px;
}

.favorites-items {
  padding: 15px 15px 13px;
  border: 1px solid #e6e6e6;
  border-radius: 20px 20px 0 0;
}

.favorites-item {
  display: flex;
  justify-content: space-between;
}

.favorites-item:not(:last-child) {
  margin-bottom: 3px;
}

.favorites-link {
  display: flex;
  padding: 6px 7px 7px;
  color: #000000;
  border: solid 3px red;
  border-radius: 10px;
  text-decoration: none;
}

.favorites-img {
  display: block;
  margin-right: 17px;
}

.favorites-text {
  padding-top: 4px;
  padding-bottom: 3px;
}

.favorites-name {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
}

.favorites-type {
  font-size: 16px;
  line-height: 16px;
}

/* Почему в инструментах разработчика не та ширина? */
/* ширина и высота должны быть по 36, а там меньше, почему? */
.favorites-delete {
  width: 30px;
  height: 30px;
  margin-top: 6px;
  padding: 0;
  background-image: url("../img/icons/trash.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: solid 3px red;
  border-radius: 10px;
  opacity: 0.2;
  cursor: pointer;
}

.favorites-all-btn {
  width: 100%;
  padding: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 60px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #756257;
  border: none;
  border-radius: 0px 0px 20px 20px;
  cursor: pointer;
}
