/* Fonts */

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

/* Global  */
/* Flex */

html {
  height: 100%;
}

body {
  width: 1280px;
  min-height: 100%;
  margin: 0 auto;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
  background-color: #f2f2f2;
}

.container {
  display: flex;
  flex-direction: column;
  width: 1200px;
  min-height: 100%;
  margin: 0 40px;
  background-color: #ffffff;
}

/* Visually-hidden */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* header */

.navigation {
  display: flex;
}

.navigation-list,
.navigation-user {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation-list {
  width: 389px;
  padding: 0 71px;
}

.navigation-item {
  margin-right: 33px;
}

.navigation-link {
  font-size: 20px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
}

.navigation-logo {
  display: block;
}

.navigation-user {
  justify-content: flex-end;
  width: 387px;
  padding: 0 72px;
}

.navigation-user-item {
  margin-left: 22px;
}

.navigation-user-item:first-child,
.navigation-user-item:nth-child(2) {
  margin-left: 0;
}

.navigation-user-search {
  display: block;
  width: 18px;
  height: 18px;
  padding: 24px 10px;
  background-image: url("../img/icons/search.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.navigation-user-favorites {
  display: block;
  width: 18px;
  height: 17px;
  padding: 24px 11px;
  background-image: url("../img/icons/heart.svg");
  background-repeat: no-repeat;
  background-position: 11px 24px;
}

.navigation-user-link {
  text-decoration: none;
}

.favorites-quantity {
  font-size: 10px;
  line-height: 13px;
  color: #ffffff;
  background-color: #7db54f;
}

.btn-header {
  display: block;
  min-width: 120px;
  padding: 9px 20px 10px;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #756257;
}

/* main */

.welcome {
  padding-top: 51px;
  padding-bottom: 82px;

  background-image: url("../img/background-welcome.jpg");
  background-color: #808080;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.welcome-picture {
  display: block;
  margin: 0 auto;
}

/* advantages */

.advantages-header {
  width: 720px;
  margin: 0 auto;
  padding-top: 63px;
  padding-bottom: 79px;
}

.advantages-title {
  margin-top: 0;
  margin-bottom: 23px;
  padding: 0 44px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.advantages-intro {
  margin: 0;
  padding: 0 30px;
  line-height: 36px;
}

.advantages-list,
.details-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages-lifestyle,
.advantages-bridge {
  display: flex;
  flex-wrap: wrap;
}

.advantages-card,
.details-item {
  width: 400px;
  min-height: 384px;
  box-sizing: border-box;
}

.advantages-card {
  padding: 97px 75px 20px;
}

.advantages-lifestyle .advantages-card,
.advantages-bridge .advantages-card {
  padding: 98px 90px 20px;
  background-color: #83b3d3;
  color: #ffffff;
}

.advantages-item-title,
.details-title {
  width: 160px;
  margin: 0 auto;
  font-size: 22px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantages-item-title {
  margin-top: 0;
  margin-bottom: 25px;
}

.advantages-number,
.advantages-description,
.details-text {
  font-size: 18px;
  line-height: 21px;
}

.advantages-number {
  display: block;
  margin-bottom: 26px;
}

.advantages-description {
  margin: 0;
}

.details-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.details-item {
  padding: 184px 75px 20px;
  background-color: #f0f6fa;
}

.details-item:nth-child(2) {
  background-color: transparent;
}

.details-item:first-child .details-title::before {
  content: "";
  position: absolute;
  width: 75px;
  height: 72px;

  background-image: url("../img/details-house.svg");
  background-repeat: no-repeat;
}

.details-item:nth-child(2) .details-title::before {
  content: "";
  position: absolute;
  width: 74px;
  height: 70px;

  background-image: url("../img/details-burger.svg");
  background-repeat: no-repeat;
}

.details-item:nth-child(3) .details-title::before {
  content: "";
  position: absolute;
  width: 64px;
  height: 76px;

  background-image: url("../img/details-souvenir.svg");
  background-repeat: no-repeat;
}

.details-title {
  margin-bottom: 18px;
  color: #000000;
}

.details-text {
  margin: 0;
}

.advantages-closeness,
.advantages-uncrowded {
  background-color: #f0f6fa;
}

.advantages-way {
  background-color: #e6f0f6;
}

/* search */

.search {
  padding: 91px 240px;
}

.search-title {
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.search-description {
  margin-top: 0;
  margin-bottom: 73px;
}

.search-link {
  display: block;
  width: 578px;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #756257;
}

/* footer */

/* subscription */

.subscription {
  padding: 84px 200px 93px;

  background-image: url("../img/background-blur1.jpg");
  background-color: #102c09;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.subscription-title {
  width: 498px;
  margin: 0 auto 15px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
}

.subscription-description {
  width: 498px;
  margin: 0 auto 26px;
  color: #ffffff;
}

.subscription-form {
  display: flex;
  width: 800px;
}

.subscription-field-wrap {
  flex-grow: 1;
  margin: 0;
}

.subscription-field {
  width: 100%;
  font-size: 18px;
  background-color: #f2f2f2;
}

.subscription-field::placeholder {
  color: #000000;
}

.subscription-button {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #83b3d3;
}

/* contacts */

.contacts {
  display: flex;
  padding: 0 72px 0 67px;
}

.social {
  display: flex;
  width: 300px;
  margin: 0 50px 0 0;
  padding: 0;
  list-style: none;
}

.social-link {
  display: inline-block;
  padding: 15px;
  background-position: center;
}

.social-link-twitter {
  width: 18px;
  height: 15px;
  background-image: url("../img/icons/social-twitter.svg");
  background-repeat: no-repeat;
}

.social-link-facebook {
  width: 10px;
  height: 18px;
  background-image: url("../img/icons/social-facebook.svg");
  background-repeat: no-repeat;
}

.social-link-youtube {
  width: 20px;
  height: 16px;
  background-image: url("../img/icons/social-youtube.svg");
  background-repeat: no-repeat;
}

.footer-tel {
  width: 450px;
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
}

.page-footer-logo {
  margin-left: auto;
}

/* hotels.html */

.main-header {
  min-height: 480px;

  color: #ffffff;
  background-image: url("../img/background-blur2.jpg");
  background-color: #102c09;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.main-header-title {
  font-size: 60px;
  line-height: 78px;
}

/* breadcrumbs */

.breadcrumbs-list::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;

  background-image: url("../img/icons/home.svg");
  background-repeat: no-repeat;
}

.breadcrumbs-item {
  content: "";
  position: absolute;
  width: 5px;
  height: 8px;

  background-image: url("../img/icons/arrow.svg");
  background-repeat: no-repeat;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  text-decoration: none;
}

/* filter-hotels */

.filter-legend {
  font-weight: 700;
}

.facilities-label,
.housing-type-label {
  font-size: 18px;
  line-height: 23px;
}

.price-fields-text {
  font-size: 18px;
  line-height: 23px;
  opacity: 0.3;
}

.form-button {
  color: #ffffff;
}

.form-button-submit {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #83b3d3;
}

.form-button-reset {
  font-size: 18px;
  line-height: 23px;
  background-color: transparent;
}

/* hotels */

.hotels-search-results {
  font-size: 30px;
  line-height: 39px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.hotels-sorting {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 23px;
}

.view-label-tile {
  background-image: url("../img/icons/view-tile.svg");
  background-repeat: no-repeat;
}

.view-label-slide {
  background-image: url("../img/icons/view-slide.svg");
  background-repeat: no-repeat;
}

.view-label-row {
  background-image: url("../img/icons/view-row.svg");
  background-repeat: no-repeat;
}

.body-hotels .subscription {
  background-image: none;
  background-color: transparent;
}

.body-hotels .subscription-title {
  color: #000000;
}

.body-hotels .subscription-description {
  color: #333333;
}

.hotels-title {
  font-size: 24px;
  line-height: 31px;
  color: #000000;
}

.hotels-details {
  font-size: 18px;
  line-height: 23px;
}

.hotels-button {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
}

.hotels-more {
  text-decoration: none;
  background-color: #756257;
}

.hotels-favorites-add {
  background-color: #83b3d3;
}

.hotels-favorites-added {
  background-color: #7db54f;
}

.hotels-rating-score {
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  background-color: #f2f2f2;
}

.hotels-show-more {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #83b3d3;
}

.pagination-link {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #83b3d3;
}

.pagination-disabled {
  color: #000000;
  background-color: #f2f2f2;
}

.quantity-label,
.quantity-filter {
  font-size: 18px;
  line-height: 23px;
}
